/*
Background: #0b192f
BackgroundLight: #182a46
Divider: #091a2f
Buttons/icons: #77afb8

*/

@font-face {
    font-family: 'Roboto';
    src: url('../fonts/Roboto-Regular.ttf');
}

@font-face {
    font-family: 'Roboto-bold';
    src: url('../fonts/Roboto-Bold.ttf');
}

.root {
    -fx-font-family: 'Roboto';
    -fx-border-width: 0;
    -fx-padding: 0;
    -fx-background-color: #0b192f;
    -fx-text-fill: #e3e4fc;
}

.vbox{
    -fx-border-width: 0;
    -fx-padding: 0;
    -fx-margin: 0;
}

.title{
    -fx-font-family: 'Roboto-bold';
    -fx-font-size: 18;
    -fx-font-weight: bold;
}

.accent {
    -fx-background-color: #b361fa;
}

.default-pane {
    -fx-background-color: #0b192f;
    -fx-text-fill: #e3e4fc;
}

.list-view{
    -fx-background-color: #182a46;
    -fx-background-radius: 10;
    -fx-background-insets: 0;
}

.label{
    -fx-text-fill: #e3e4fc;
    -fx-font-family: 'Roboto';
}

.split-pane {
    -fx-padding: 0;
    -fx-margin: 0;
    -fx-border-width: 0;
}

.split-pane > .split-pane-divider {
    -fx-padding: 0;
    -fx-background-color: transparent;
}

.separator {
    -fx-background-color: transparent;
    -fx-border-color: transparent;
}

.menu-bar{
    -fx-background-color: #0b192f;

}

.split-pane{
    -fx-background-color: #0b192f;
}

.button {
    -fx-background-color: linear-gradient(from 0% 50% to 100% 50%, #845db1, #6A0DAD);
    -fx-background-radius: 20;
    -fx-background-insets: 0;
    -fx-transition-duration: 0.3s;
    -fx-transition-property: -fx-background-color;
    -fx-text-fill: #e3e4fc;
    -fx-font-size: 12pt; /* Set font size to 16pt */
    -fx-font-weight: bold; /* Set font weight to bold */
    -fx-text-transform: uppercase; /* Convert text to uppercase */
}

.button:hover {
    -fx-background-color: linear-gradient(from 0% 50% to 100% 50%,  #3d0e66, #24083d);
    -fx-transition-timing-function: linear;
}

.secondaryButton {
    -fx-background-color: linear-gradient(from 0% 50% to 100% 50%, #f926ba, #b8038a);
    -fx-background-radius: 20;
    -fx-background-insets: 0;
    -fx-transition-duration: 0.3s;
    -fx-transition-property: -fx-background-color;
    -fx-font-size: 12pt; /* Set font size to 16pt */
    -fx-font-weight: bold; /* Set font weight to bold */
    -fx-text-transform: uppercase; /* Convert text to uppercase */
}

.secondaryButton:hover {
    -fx-background-color: linear-gradient(from 0% 50% to 100% 50%,  #9c1774, #77025a);
    -fx-transition-timing-function: linear;
}

.smallbutton {
    -fx-font-size: 9pt
}

.button .text {
    -fx-fill: rgb(255, 255, 255);
    -fx-stroke: rgb(0, 0, 0);
    -fx-stroke-width: .2px;
}

#WindowActionButtons{
    -fx-background-color: #0b192f;
}

.minimize-button {
    -fx-background-color: #883cdf;
}

.maximize-button {
    -fx-background-color: #ff6d4f;
}

.close-button {
    -fx-background-color: #f926ba;
}

.minimize-button:hover, .maximize-button:hover, .close-button:hover {
    -fx-background-radius: 150;
}

#RomInfo{
    -fx-background-color: #182a46;
    -fx-background-radius: 10;
    -fx-background-insets: 0;
}

.list-cell {
    -fx-background-color: #182a46;
    -fx-background-radius: 10;
}

.list-cell:nth-child(even) {
    -fx-background-color: #355074;
}

.list-cell:focused {
    -fx-background-color: #4d8bf1;
}

.romInfoTitle{
    -fx-font-family: "Roboto-bold";
    -fx-font-weight: Bold;
    -fx-font-size: 14pt;
}

.romInfoSubTitle{
    -fx-font-family: "Roboto";
    -fx-font-size: 10pt;
}