@font-face {
font-family: 'Roboto';
src: url('../fonts/Roboto-Regular.ttf');
}

@font-face {
font-family: 'Roboto-bold';
src: url('../fonts/Roboto-Bold.ttf');
}

*,
.defaultContainer,
.label {
-fx-font-family: 'Roboto';
-fx-text-fill: #e3e4fc;
}

*{
    -fx-background-primary: #0b192f;
    -fx-background-secondary: #182a46;
    -fx-background-selected: #040912;
    -fx-primary-button: #af019e;
    -fx-primary-buttonaccent: #d41e86;
    -fx-secondary-button: #3b7cf6;
    -fx-secondary-buttonaccent: #3ab8f9;
    -fx-focus: #4d8bf1;
}

.imageView,
.imagePane,
.vbox,
.wizardPane,
.root,
.default-pane,
.split-pane,
.menu-bar {
-fx-background-color: -fx-background-primary;
}

.hbox {
-fx-spacing: 10px;
}

.button,
.secondaryButton {
-fx-background-color: linear-gradient(from 0% 50% to 100% 50%, -fx-primary-button, -fx-primary-buttonaccent);
-fx-background-radius: 20;
-fx-background-insets: 0;
-fx-transition-duration: 0.3s;
-fx-transition-property: -fx-background-color;
-fx-text-fill: #e3e4fc;
-fx-font-size: 12pt;
-fx-font-weight: bold;
-fx-text-transform: uppercase;
-fx-effect: innershadow(gaussian, #00000080, 6, 0.5, 0, 0);
}

.button:hover,
.secondaryButton:hover {
-fx-background-color: linear-gradient(from 0% 50% to 100% 50%, -fx-secondary-button, -fx-secondary-buttonaccent);
-fx-effect: innershadow(gaussian, #00000080, 12, 0.5, 0, 0);
-fx-transition-timing-function: linear;
}

.button .text {
-fx-fill: rgb(255, 255, 255);
-fx-stroke: rgb(0, 0, 0);
-fx-stroke-width: .2px;
}

.smallbutton {
-fx-font-size: 9pt;
}

.button:hover,
.secondaryButton:hover,
.minimize-button:hover,
.maximize-button:hover,
.close-button:hover {
-fx-background-radius: 150;
}

.minimize-button {
-fx-background-color: #FFBD44;
-fx-effect: innershadow(gaussian, #00000080, 3, 0.5, 0, 0);
-fx-padding: 0;
}

.minimize-button:hover {
-fx-background-color: #efaf39;
-fx-effect: innershadow(gaussian, #00000080, 7, 0.5, 0, 0);
}

.close-button {
-fx-background-color: #c42b1c;
-fx-effect: innershadow(gaussian, #00000080, 3, 0.5, 0, 0);
-fx-padding: 0;
}

.close-button:hover {
-fx-background-color: #b32316;
-fx-effect: innershadow(gaussian, #00000080, 7, 0.5, 0, 0);
}

.title,
.romInfoTitle {
-fx-font-family: 'Roboto-bold';
-fx-font-size: 18;
-fx-font-weight: bold;
}

.borderBoxDotted {
-fx-border-style: dotted;
}

.list-view,
.list-cell,
.borderBox,
.borderBoxDotted {
-fx-background-color: -fx-background-secondary;
-fx-background-radius: 10;
-fx-background-insets: 0;
}

.list-cell:nth-child(even) {
-fx-background-color: #355074;
}

.list-cell:focused {
-fx-background-color: #4d8bf1;
}

.romInfoSubTitle {
-fx-font-family: 'Roboto';
-fx-font-size: 10pt;
}

.tab-header-background,
.tab-pane .tab-header-area .tab,
.tab-pane .tab-header-area .tab:selected {
-fx-background-color: #182a46;
}

.tab-label {
-fx-border-width: 2;
-fx-text-fill: #e3e4fc;
-fx-font-family: 'Roboto-bold';
-fx-font-weight: bold;
}

.tab-pane .tab-header-area .tab {
-fx-background-color: linear-gradient(from 0% 50% to 100% 50%, #9c1774, #77025a);
-fx-background-radius: 15 15px 0px 0;
-fx-padding: 5 20;
-fx-translate-y: 1px;
}

.tab-pane .tab-header-area .tab:selected {
-fx-background-color: linear-gradient(from 0% 50% to 100% 50%, #9c1774, #77025a);
-fx-background-radius: 15 15px 0px 0;
-fx-translate-y: 1px;
}

.tab-pane .tab-header-area .tab:last-child {
-fx-background-radius: 0;
}

.apiCheckbox {
-fx-padding: 0 5 0 0;
-fx-text-fill: #e3e4fc;
-fx-font-family: 'Roboto-bold';
-fx-font-weight: bold;
}

.boldLabel {
-fx-font-family: 'Roboto-bold';
-fx-font-weight: bold;
-fx-font-size: 16pt;
}



.fontIcon {
-fx-icon-size: 48;
-fx-icon-color: #e3e4fc;
}

#RomInfo {
-fx-background-color: #182a46;
-fx-background-radius: 10;
-fx-background-insets: 0;
}

.list-cell {
-fx-background-color: #182a46;
-fx-background-radius: 10;
}

.list-cell:nth-child(even) {
-fx-background-color: #355074;
}

.list-cell:focused {
-fx-background-color: -fx-focus;
}

.romInfoTitle {
-fx-font-family: "Roboto-bold";
-fx-font-weight: Bold;
-fx-font-size: 14pt;
}

.romInfoSubTitle {
-fx-font-family: "Roboto";
-fx-font-size: 10pt;
}

.split-pane {
    -fx-padding: 0;
    -fx-margin: 0;
    -fx-border-width: 0;
}

.split-pane > .split-pane-divider {
    -fx-padding: 0;
    -fx-background-color: transparent;
}

.separator {
    -fx-background-color: transparent;
    -fx-border-color: transparent;
}

.label {
-fx-fill: rgb(255, 255, 255);
-fx-stroke: rgb(0, 0, 0);
-fx-stroke-width: .2px;
}

.descriptionLabel{
    -fx-text-fill: #e3e4fc;
    -fx-font-family: 'Roboto-bold';
    -fx-font-weight: bold;
    -fx-font-size: 12pt;
    -fx-fill: rgb(255, 255, 255);
    -fx-stroke: rgb(0, 0, 0);
    -fx-stroke-width: .2px;
}

#name, #description {
}

#description {
    -fx-text-fill: #e3e4fc; /* Make the text color dark gray */
    -fx-font-size: 11px; /* Make the text size 12 points */
}

.text-field {
	-fx-accent: -fx-primary-color;
	-fx-background-color: -fx-grey-color, #1b2755;
    -fx-text-fill: #e3e4fc;
    -fx-font-weight: bold;
    -fx-background-color: -fx-background-secondary;
	-fx-background-radius: 3;
}
.borderBox .text-field:focused {
	-fx-background-color: -fx-background-selected;
}

.borderBox .text-field {
	-fx-accent: -fx-background-primary;
	-fx-background-color: -fx-background-primary;
    -fx-text-fill: #e3e4fc;
    -fx-font-weight: bold;
	-fx-background-radius: 3;
}
.text-field:focused {
	-fx-background-color: -fx-background-selected;
}

.title{
    -fx-font-size: 16pt;
    -fx-font-weight: bold;
}
/* 
Combo Boxes
*/

/* // Background color of the whole context menu */
.choice-box .context-menu { -fx-background-color: -fx-background-secondary; }
/* // Focused item background color in the list */
.choice-box .menu-item:focused { -fx-background-color: -fx-focus; }
/* // Text color of non-focused items in the list */
.choice-box .menu-item > .label { -fx-text-fill: #e3e4fc; }
/* // Text color of focused item in the list */
.choice-box .menu-item:focused > .label { -fx-text-fill: #e3e4fc; }

/* // Background color of the control itself */
.choice-box {
  -fx-background-color: -fx-background-primary;
  -fx-mark-color: -fx-primary-button;  /* arrow color */
}

/* // Selected item text color on the control itself */
.choice-box > .label { -fx-text-fill: white; }

.combo-box {
    -fx-background-color: -fx-background-secondary; /* Custom background color (blue) */
}

.combo-box .arrow-button {
    -fx-background-color: transparent; /* Remove button background color */
    -fx-background-insets: 0; /* Remove button background insets */
    -fx-padding: 4px; /* Remove button padding */
}

.combo-box .arrow-button .arrow {
    -fx-background-color: white; /* Custom arrow color */
}

.combo-box .text-field {
    -fx-background-color: transparent; /* Remove text field background color */
    -fx-border-color: transparent; /* Remove text field border color */
    -fx-padding: 0; /* Remove text field padding */
    -fx-text-fill: #e3e4fc; /* Custom text color */
}

.combo-box .list-view {
    -fx-background-color: -fx-background-secondary; /* Custom dropdown background color */
    -fx-text-fill: white; /* Custom dropdown text color */
}

.combo-box .list-view .list-cell {
    -fx-background-radius: 3;
}

.menu-bar {
    -fx-background-color: transparent; /* Remove menu bar background color */
    -fx-border-color: transparent; /* Remove menu bar border color */
    -fx-padding: 0; /* Remove menu bar padding */
    -fx-border-width: 0; /* Remove menu bar border */

}


.menu-item {
    -fx-background-color: -fx-background-secondary; /* Custom background color for menu items */
    -fx-border-color: transparent; /* Remove menu item border color */
    -fx-text-fill: #e3e4fc; /* Custom text color for menu items */
    -fx-padding: 5 10; /* Add padding to menu items if needed */
}

.menu-item:hover {
    -fx-background-color: -fx-focus; /* Custom background color for selected menu item */
}

.menu-item:selected {
    -fx-background-color: #1976D2; /* Custom background color for selected menu item */
    -fx-border-color: transparent; /* Remove selected menu item border color */
    -fx-text-fill: #e3e4fc; /* Custom text color for selected menu item */
    -fx-padding: 5 10; /* Add padding to selected menu items if needed */
}

.menu-item .label {
    -fx-background-color: transparent; /* Remove label background color */
}

/* Scrollbar Track */
.scroll-bar:vertical .track {
    -fx-background-color: transparent;
    -fx-border-color: transparent;
}

/* Scrollbar Thumb */
.scroll-bar:vertical .thumb {
    -fx-background-radius: 10px;
    -fx-background-color: linear-gradient(from 0px 0px to 0px 100%, rgb(122, 153, 217) 44%, rgb(73, 125, 189) 72%, rgb(28, 58, 148) 86%);
    -fx-border-color: transparent;
}

/* Scrollbar Background */
.scroll-bar:vertical {
    -fx-background-color: transparent;
    -fx-border-color: transparent;
    -fx-pref-width: 10px;
}

/* Scrollbar Decrease/Increase Button */
.scroll-bar .increment-button,
.scroll-bar .decrement-button {
    -fx-background-color: transparent;
    -fx-background-insets: 0;
}

/* Move Arrow 2 Pixels to the Left */
.scroll-bar:vertical .increment-button > .increment-arrow,
.scroll-bar:vertical .decrement-button > .decrement-arrow {
    -fx-translate-x: -2px;
}

/* Scrollbar Thumb Hover/Focused Styles */
.scroll-bar:vertical .thumb:hover,
.scroll-bar:vertical .thumb:focused {
    -fx-background-color: linear-gradient(from 0px 0px to 0px 100%, rgb(102, 133, 197) 44%, rgb(45, 92, 169) 72%, rgb(0, 31, 133) 86%);
}

.checkbox-label {
    -fx-padding: 0 0 0 5; /* Add left padding to the label */
}

.apiCheckbox {
    -fx-alignment: center-right; /* Align the checkbox to the right */
}