@font-face {
font-family: 'Roboto';
src: url('../fonts/Roboto-Regular.ttf');
}

@font-face {
font-family: 'Roboto-bold';
src: url('../fonts/Roboto-Bold.ttf');
}

*,
.defaultContainer,
.label {
-fx-font-family: 'Roboto';
-fx-text-fill: #e3e4fc;
}

*{
    -fx-background-primary: #0b192f;
    -fx-background-secondary: #182a46;
    -fx-primary-button: #af019e;
    -fx-primary-buttonaccent: #d41e86;
    -fx-secondary-button: #3b7cf6;
    -fx-secondary-buttonaccent: #3ab8f9;
    -fx-focus: #4d8bf1;
}

.imageView,
.imagePane,
.vbox,
.wizardPane,
.root,
.default-pane,
.split-pane,
.menu-bar {
-fx-background-color: -fx-background-primary;
}

.hbox {
-fx-spacing: 10px;
}

.button,
.secondaryButton {
-fx-background-color: linear-gradient(from 0% 50% to 100% 50%, -fx-primary-button, -fx-primary-buttonaccent);
-fx-background-radius: 20;
-fx-background-insets: 0;
-fx-transition-duration: 0.3s;
-fx-transition-property: -fx-background-color;
-fx-text-fill: #e3e4fc;
-fx-font-size: 12pt;
-fx-font-weight: bold;
-fx-text-transform: uppercase;
-fx-effect: innershadow(gaussian, #00000080, 6, 0.5, 0, 0);
}

.button:hover,
.secondaryButton:hover {
-fx-background-color: linear-gradient(from 0% 50% to 100% 50%, -fx-secondary-button, -fx-secondary-buttonaccent);
-fx-effect: innershadow(gaussian, #00000080, 12, 0.5, 0, 0);
-fx-transition-timing-function: linear;
}

.button .text {
-fx-fill: rgb(255, 255, 255);
-fx-stroke: rgb(0, 0, 0);
-fx-stroke-width: .2px;
}

.smallbutton {
-fx-font-size: 9pt;
}

.button:hover,
.secondaryButton:hover,
.minimize-button:hover,
.maximize-button:hover,
.close-button:hover {
-fx-background-radius: 150;
}

.minimize-button {
-fx-background-color: #FFBD44;
-fx-effect: innershadow(gaussian, #00000080, 3, 0.5, 0, 0);
-fx-padding: 0;
}

.minimize-button:hover {
-fx-background-color: #efaf39;
-fx-effect: innershadow(gaussian, #00000080, 7, 0.5, 0, 0);
}

.close-button {
-fx-background-color: #c42b1c;
-fx-effect: innershadow(gaussian, #00000080, 3, 0.5, 0, 0);
-fx-padding: 0;
}

.close-button:hover {
-fx-background-color: #b32316;
-fx-effect: innershadow(gaussian, #00000080, 7, 0.5, 0, 0);
}

.title,
.romInfoTitle {
-fx-font-family: 'Roboto-bold';
-fx-font-size: 18;
-fx-font-weight: bold;
}

.list-view,
.list-cell {
-fx-background-color: -fx-background-secondary;
-fx-background-radius: 10;
-fx-background-insets: 0;
}

.list-cell:nth-child(even) {
-fx-background-color: #355074;
}

.list-cell:focused {
-fx-background-color: #4d8bf1;
}

.romInfoSubTitle {
-fx-font-family: 'Roboto';
-fx-font-size: 10pt;
}

.tab-header-background,
.tab-pane .tab-header-area .tab,
.tab-pane .tab-header-area .tab:selected {
-fx-background-color: #182a46;
}

.tab-label {
-fx-border-width: 2;
-fx-text-fill: #e3e4fc;
-fx-font-family: 'Roboto-bold';
-fx-font-weight: bold;
}

.tab-pane .tab-header-area .tab {
-fx-background-color: linear-gradient(from 0% 50% to 100% 50%, #9c1774, #77025a);
-fx-background-radius: 15 15px 0px 0;
-fx-padding: 5 20;
-fx-translate-y: 1px;
}

.tab-pane .tab-header-area .tab:selected {
-fx-background-color: linear-gradient(from 0% 50% to 100% 50%, #9c1774, #77025a);
-fx-background-radius: 15 15px 0px 0;
-fx-translate-y: 1px;
}

.tab-pane .tab-header-area .tab:last-child {
-fx-background-radius: 0;
}

.apiCheckbox {
-fx-padding: 0 5 0 0;
-fx-text-fill: #e3e4fc;
-fx-font-family: 'Roboto-bold';
-fx-font-weight: bold;
}

.borderBox,
.borderBoxDotted {
-fx-background-color: #182a46;
-fx-border-color: #091220;
-fx-border-width: 2pt;
}

.boldLabel {
-fx-font-family: 'Roboto-bold';
-fx-font-weight: bold;
-fx-font-size: 16pt;
}

.borderBoxDotted {
-fx-border-style: dotted;
}

.fontIcon {
-fx-icon-size: 48;
-fx-icon-color: #e3e4fc;
}

#RomInfo {
-fx-background-color: #182a46;
-fx-background-radius: 10;
-fx-background-insets: 0;
}

.list-cell {
-fx-background-color: #182a46;
-fx-background-radius: 10;
}

.list-cell:nth-child(even) {
-fx-background-color: #355074;
}

.list-cell:focused {
-fx-background-color: -fx-focus;
}

.romInfoTitle {
-fx-font-family: "Roboto-bold";
-fx-font-weight: Bold;
-fx-font-size: 14pt;
}

.romInfoSubTitle {
-fx-font-family: "Roboto";
-fx-font-size: 10pt;
}

.split-pane {
    -fx-padding: 0;
    -fx-margin: 0;
    -fx-border-width: 0;
}

.split-pane > .split-pane-divider {
    -fx-padding: 0;
    -fx-background-color: transparent;
}

.separator {
    -fx-background-color: transparent;
    -fx-border-color: transparent;
}

.label {
-fx-fill: rgb(255, 255, 255);
-fx-stroke: rgb(0, 0, 0);
-fx-stroke-width: .2px;
}

.descriptionLabel{
    -fx-text-fill: #e3e4fc;
    -fx-font-family: 'Roboto-bold';
    -fx-font-weight: bold;
    -fx-font-size: 12pt;
    -fx-fill: rgb(255, 255, 255);
    -fx-stroke: rgb(0, 0, 0);
    -fx-stroke-width: .2px;
}

#name, #description {
}

#description {
    -fx-text-fill: #e3e4fc; /* Make the text color dark gray */
    -fx-font-size: 11px; /* Make the text size 12 points */
}

.text-field {
	-fx-accent: -fx-primary-color;
	-fx-background-color: -fx-grey-color, #1b2755;
    -fx-text-fill: #e3e4fc;
    -fx-font-weight: bold;
    -fx-padding: 10px;
    -fx-background-color: #0e192b;
	-fx-background-radius: 5;
}
.text-field:focused {
	-fx-background-color: -fx-primary-color, white;
}

/* // Background color of the whole context menu */
.choice-box .context-menu { -fx-background-color: -fx-background-secondary; }
/* // Focused item background color in the list */
.choice-box .menu-item:focused { -fx-background-color: -fx-focus; }
/* // Text color of non-focused items in the list */
.choice-box .menu-item > .label { -fx-text-fill: #e3e4fc; }
/* // Text color of focused item in the list */
.choice-box .menu-item:focused > .label { -fx-text-fill: #e3e4fc; }

/* // Background color of the control itself */
.choice-box {
  -fx-background-color: -fx-background-secondary;
  -fx-mark-color: -fx-primary-button;  /* arrow color */
}

/* // Selected item text color on the control itself */
.choice-box > .label { -fx-text-fill: white; }